#no-underline{
  text-decoration: none;
}

/** small screens **/
body{
  min-height: calc(100vh - 100px);
}

@media only screen and (min-height: 700px) {
  /** small screens **/
  body{
    min-height: calc(100vh - 239px);
  }
}

.padding_footer{
  padding-bottom: 50px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.startbutton-container {
  height: 100px;
}

.svg{
  fill: rgb(255, 255, 255);
}

.audio-button:disabled #svg{
  fill: rgb(187, 187, 187);
  animation: none;
}

.svg-hover:hover{
  animation-name: svg_hover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes svg_hover {
  0%    {fill:rgb(255, 255, 255)}
  50%   {fill:rgb(187, 187, 187)}
  100%  {fill:rgb(255, 255, 255)}
}

.svg-active{
  animation-name: svg_active;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes svg_active {
  0%    {fill:rgb(255, 94, 94)}
  /* 50%   {fill:rgb(221, 82, 82)} */
  100%  {fill:rgb(255, 94, 94)}
}

.thinking-container{
  height: 80px;
}

.click-text{
  color: white;
}

.click-text__disabled{
  color: rgb(168, 168, 168);
}